<header class="sticky top-0 bg-white shadow-sm mb-6">
  <div class="container-lg mx-auto px-3 py-4 d-flex flex-wrap justify-between align-items-center">
    <a href="{{ '/' | relative_url }}" class="f00-light text-gray-800 text-decoration-none">
      {{ site.title }}
    </a>
    <div class="d-flex gap-6">
      <a href="{{ '/' | relative_url }}" class="nav-btn f1-light">
        <i class="fa-solid fa-home mr-1"></i> 首页
      </a>
      <a href="{{ '/tags.html' | relative_url }}" class="nav-btn f1-light">
        <i class="fa-solid fa-tags mr-1"></i> 标签
      </a>
    </div>
  </div>
</header>